/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
body {
  margin: 0px;
  font-family: "Fredoka One";
  height: 1000px;
  min-width: 1300px;
}

nav {
  display: flex;
  /*margin: 5px 15px;*/
  padding: 10px 20px;
}

nav a {
  text-decoration: none;
}

span {
  font-size: 15px;
}

h2 {
  font-weight: normal;
  font-size: 26px;
}

.navbar {
  font-family: "Fredoka One";
  height: 60px;
  background-color: #93c7aa;
  /*padding-left: 700px;*/
  /*justify-content: flex-end;*/
}

.navbar img {
  height: 60px;
  padding-left: 20px;
}

.header-right-links {
  display: flex;
  flex-direction: row;
  list-style: none;
  align-items: center;
}

.header-right-links li {
  margin: 0 20px;
}

.header-right-links a{
  color: #f8e9b4;
  font-size: 20px;
}

#master-view {
  background-color: #abddd7;
  height: 100%;
  /*text-align: center;*/
  /*padding: 208px 0 0 0;*/
}

.features {
  padding: 15px;
}

section.features h1 {
    color: #ed826c;
    /*margin: 0px 79px;*/
    /*padding: 0px 0;*/
    font-size: 45px;
}

.features-list {
    /*margin: 0px 126px;*/
    font-size: 23px;
    padding: 9px 0;
    list-style: none;
}

.features-list li {
  /*margin: 0 -43px;*/
}

#privacy{
  text-align: center;
  font-family: 'Open Sans',arial,sans-serif;
  background-color: #abddd7;
}

.privacy-header{
  padding: 10px;
}

.privacy-header h1 {
    color: #ed826c;
    font-size: 39px;
    margin: 10px;
}

.privacy-content{
  margin: 10px 200px;
  border: 2px solid #ed826c;
  padding: 0px 40px;
  border-radius: 24px;
  background-color: #F0F0D9;
}

.privacy-content h1 {
  color: #ed826c;
}

.privacy-content h3 {
  color: #ed826c;
  margin: 10px;
}

.gif-main {
    background: url(http://res.cloudinary.com/candycanetrain/image/upload/c_scale,w_400/v1491616754/owlie_slow_aqj8yo.gif);
    height: 400px;
    width: 400px;
    margin: 0 75px;
}

/*.gif {
    display: flex;
}*/

.demo-phone {
    background: url(http://res.cloudinary.com/candycanetrain/video/upload/v1491812541/official1and2small_xfmnt5.gif);

    height: 720px;
    /* padding: 25px; */
    width: 500px;
    /*margin: -126px 59px;*/
    border-radius: 30px;
    border: 30px solid white;
}

.features {
  display: flex;
  padding: 30px 30px;
  min-width: 1000px;
}


.left {
  display: inline-block;
  min-width: 400px;
  padding: 0 70px;
}

.right {
  display: inline-block;
  min-width: 600px;
  padding-left: 120px;
}

.facebook-button {
  margin: 18px 0;
}
